body {
    color: white;
    background: #333333;
    border: #333333;
    font-family: 'Roboto', sans-serif;
}

.blog > h2 {
    margin-bottom: 0px;
    font-size: 35px;
    text-decoration: wavy;
}

.blog > p {
    white-space: pre-line;
}

.blog > h3 {
    margin: 0px;
}

a {
    color: lightskyblue;
}

body > iframe {
    height: 65px;
}